@*@model IEnumerable<VerkkokauppaWeb.Models.Tuotteet>*@
@*@model VerkkokauppaWeb.ViewModels.TuotteetAndLoginsViewModel*@

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    function LisaaKoriin(tuot) {
        var tuoteid = $(tuot).attr("tuoteid");
        var formData = new FormData();
        formData.append("tuoteid", tuoteid);

        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: "/Tuotteet/Index",
            success: function (data) {
                if (data.Success == true)
                    $("#koriTuote").text(data.Counter);
                window.location.reload();
                //alert("Tuote lisätty ostoskoriin");

            },
            error: function () {
                alert("Tuotteen lisääminen ostoskoriin epäonnistui");
            }
        })
    }

    function showProductDetails(id) {
        $.ajax({
            url: "/Tuotteet/ProductDetails/" + id,
            success: function (data) {
                $("#productDetailsModalContent").html(data);
                $("#productDetailsModal").modal("show");
            }
        });
    }
</script>

<div id="productDetailsModalContent"></div>
@if (@TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-fluid">
    <header>
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">Tuotevalikoima</h1>
            @if (Session["UserName"] as string == "teppo@jetiside.fi")
            {
                <button class="btnn saveBtn">
                    @Html.ActionLink("Luo uusi tuote", "Create")
                </button>
            }
        </div>
    </header>


    <div>
        @using (Html.BeginForm("Index", "Tuotteet", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Hae tuotevalikoimasta:</b></span>
                        @Html.RadioButton("searchBy", "ProductName", true)
                        <text> Tuotenimi </text>
                        @Html.RadioButton("searchBy", "Price")
                        <text> Hinta </text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue", null, new { Class = "form-control", placeholder = "Anna tuotenimi tai hinta" })
                    </td>
                    <td>
                        <input type="submit" value="Hae" class="btnn saveBtn" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <br />
    <br />
    <div class="row">
        @foreach (var tuot in Model.Tuotteet)
        {
            if (Session["UserName"] as string == "teppo@jetiside.fi")
            {
                <div class="col-sm-12 col-md-6 col-lg-4  p-3">
                    <div class="card @*md-3*@ h-100">
                        <h3 class="card-header">@tuot.TuoteNimi</h3>

                        @if (tuot.Kuva != null)
                        {
                            var base64 = Convert.ToBase64String(tuot.Kuva);
                            var imgscr = string.Format("data:image/jpg;base64,{0}", base64);
                            <img src="@imgscr" alt="Kuva tuotteesta" class="prodImg">
                        }
                        else
                        {
                            <img src="~/Icons/cart.svg" />
                        }

                        <div class="card-body d-flex justify-content-between">
                            <p class="card-text">@tuot.Hinta</p>
                            <button type="button" class="btn btn-light btn-details" onclick="showProductDetails(@tuot.TuoteID)">
                                <img src="~/Icons/info-circle.svg">
                            </button>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Kategoria: @tuot.Kategoriat.KategoriaNimi</li>
                            <li class="list-group-item">Varastomäärä: @tuot.Varastomaara</li>
                        </ul>
                        <div class="card-footer text-bg text-center">
                            <a>@Html.ActionLink("Muokkaa", "Edit", new { id = tuot.TuoteID })</a> |
                            <a>@Html.ActionLink("Poista", "Delete", new { id = tuot.TuoteID })</a> |
                            <a class="adminLisääKoriin" name="LisaaKoriin" value="Lisaa Koriin" tuoteid="@tuot.TuoteID" id="btnLisaaKoriin" onclick="LisaaKoriin(this)">Osta</a>

                        </div>
                    </div>
                </div>

            }
            else
            {

                <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                    <div class="card h-100">
                        @if (tuot.Kuva != null)
                        {
                            var base64 = Convert.ToBase64String(tuot.Kuva);
                            var imgscr = string.Format("data:image/jpg;base64,{0}", base64);
                            <img src="@imgscr" alt="Kuva tuotteesta" class="prodImg prodpic">
                        }
                        else
                        {
                            <img src="~/Icons/cart.svg" />
                        }

                        <div class="prodpic_overlay" onclick="showProductDetails(@tuot.TuoteID)">
                            <h3 class="underline underline_prodpic">Osta tästä</h3>
                        </div>

                        <div class="card-body @*d-flex justify-content-between*@">
                            <h5 @*class="card-header"*@ style="text-align:center;">@tuot.TuoteNimi</h5>
                            <p class="card-text" style="text-align:center;">€@tuot.Hinta</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@{
    Html.RenderPartial("_LoginModal");
}