@*@model IEnumerable<VerkkokauppaWeb.Models.Tuotteet>*@
@*@model VerkkokauppaWeb.ViewModels.TuotteetAndLoginsViewModel*@

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    function LisaaKoriin(tuot) {
        var tuoteid = $(tuot).attr("tuoteid");
        var formData = new FormData();
        formData.append("tuoteid", tuoteid);

        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: "/Tuotteet/Index",
            success: function (data) {
                if (data.Success == true)
                    $("#koriTuote").text(data.Counter);
                window.location.reload();
                //alert("Tuote lisätty ostoskoriin");

            },
            error: function () {
                alert("Tuotteen lisääminen ostoskoriin epäonnistui");
            }
        })
    }

    function showProductDetails(id) {
        $.ajax({
            url: "/Tuotteet/ProductDetails/" + id,
            success: function (data) {
                $("#productDetailsModalContent").html(data);
                $("#productDetailsModal").modal("show");
            }
        });
    }
</script>

<div id="productDetailsModalContent"></div>

<div class="container-fluid">
    <h2>Tuotevalikoima</h2>
    <br />
    <div>
        @if (Session["UserName"] as string == "teppo@jetiside.fi")
        {
            <button class="btn btn-dark">
                @Html.ActionLink("Luo uusi tuote", "Create")
            </button>
        }
    </div>

    <div>
        @using (Html.BeginForm("Index", "Tuotteet", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Hae tuotevalikoimasta:</b></span>
                        @Html.RadioButton("searchBy", "ProductName", true)
                        <text> Tuotenimi </text>
                        @Html.RadioButton("searchBy", "Price")
                        <text> Hinta </text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue", null, new { Class = "form-control", placeholder = "Anna tuotenimi tai hinta" })
                    </td>
                    <td>
                        <input type="submit" value="Hae" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>



    <br />
    <br />
    <div class="row">
        @foreach (var tuot in Model.Tuotteet)
        {
            <div class="col-lg-4">
                <div class="card @*md-3*@ h-100">
                    <h3 class="card-header">@tuot.TuoteNimi</h3>

                    @if (tuot.Kuva != null)
                    {
                        var base64 = Convert.ToBase64String(tuot.Kuva);
                        var imgscr = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgscr" alt="Kuva tuotteesta" class="prodImg">
                    }
                    else
                    {
                        <img src="~/Icons/cart.svg" />
                    }

                    <div class="card-body d-flex justify-content-between">
                        <p class="card-text">@tuot.Hinta</p>
                        <button type="button" class="btn btn-light btn-details" onclick="showProductDetails(@tuot.TuoteID)">
                            <img src="~/Icons/info-circle.svg">
                        </button>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Kategoria: @tuot.Kategoriat.KategoriaNimi</li>
                        <li class="btnn saveBtn" name="LisaaKoriin" value="Lisaa Koriin" tuoteid="@tuot.TuoteID" id="btnLisaaKoriin" onclick="LisaaKoriin(this)">Lisää tuote ostoskoriin</li>
                    </ul>
                    @if (Session["UserName"] as string == "teppo@jetiside.fi")
                    {
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Varastomäärä: @tuot.Varastomaara</li>
                        </ul>
                        <div class="card-footer text-bg-success">
                            @Html.ActionLink("Muokkaa", "Edit", new { id = tuot.TuoteID }) |
                            @Html.ActionLink("Poista", "Delete", new { id = tuot.TuoteID })
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@{
    Html.RenderPartial("_LoginModal");
}