@model IEnumerable<VerkkokauppaWeb.ViewModels.Ostoskori>
@{
    ViewBag.Title = "Ostoskori";
    decimal summa = 0.00M;

}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myButton').click(function () {
                if ($('#toimitustiedot').is(':visible')) {
                    $('#toimitustiedot').hide();
                    $('#tallennus').hide();
                    $('#myButton').text('Kassalle');
                } else {
                    $('#toimitustiedot').show();
                    $('#myButton').text('Peruuta');
                    $('#tallennus').show();
                }
            });
        });
    </script>
    }


<header>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Ostoskori</h1>
    </div>
</header>

@using (Html.BeginForm("LisaaTilaus", "Tuotteet", FormMethod.Post))
{
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>

                </th>
                <th style="text-align: right">
                    Tuote
                </th>
                <th style="text-align: right">
                    Määrä
                </th>
                <th style="text-align: right">
                    Hinta
                </th>
                <th style="text-align: right">
                    Yhteensä
                </th>

            </tr>
        </thead>
        @foreach (var tuot in Model)
        {
            summa += tuot.Summa;
            var base64 = Convert.ToBase64String(tuot.Kuva);
            var imgscr = string.Format("data:image/jpg;base64,{0}", base64);

            <tr>
                <td>
                    <img src="@imgscr" alt="Kuva tuotteesta" height="85" width="85" class="rounded">
                </td>
                <td style="text-align: right">
                    @tuot.TuoteNimi
                </td>
                <td style="text-align: right">
                    @tuot.Määrä
                </td>
                <td style="text-align: right">
                    @tuot.Kappalehinta.ToString("#,##0.00")€
                </td>
                <td style="text-align: right">
                    @tuot.Summa.ToString("#,##0.00")€
                </td>
            </tr>
        }
        <tr style="border-top: 2px solid black">
            <td colspan="4" style="text-align: right">
                <h3>Loppusumma</h3>
            </td>
            <td style="text-align: right">
                <h3>@summa.ToString("#,##0.00")€</h3>
            </td>
        </tr>
    </table>
    <div id="toimitustiedot" style="display:none">
        @if (Model.Any())
        {
            var firstItem = Model.FirstOrDefault();
            if (firstItem != null)
            {
                <div>
                    Asiakas ID:
                    <div>@firstItem.AsiakasID</div>
                </div>
                <div>
                    Etunimi:
                    <div>@firstItem.Etunimi</div>
                </div>
                <div>
                    Sukunimi:
                    <div>@firstItem.Sukunimi</div>
                </div>
                <div>
                    Sähköposti:
                    <div>@firstItem.Email</div>
                </div>
                <div class="form-group">
                    Toimitusosoite
                    <div class="col-md-10">
                        @Html.EditorFor(model => firstItem.ToimitusOsoite, new { htmlAttributes = new { @class = "form-control", @name = "ToimitusOsoite" } })
                        @Html.ValidationMessageFor(model => firstItem.ToimitusOsoite, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    Postinumero
                    <div class="col-md-10">
                        @Html.EditorFor(model => firstItem.ToimitusPostinumero, new { htmlAttributes = new { @class = "form-control", @name = "ToimitusPostinumero" } })
                        @Html.ValidationMessageFor(model => firstItem.ToimitusPostinumero, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

    </div>

        <div id="tallennus" style="text-align:right; display:none;">
            <input type="submit" value="Tee tilaus" name="Save" class="btnn saveBtn" />
        </div>
}

        <button class="btnn saveBtn" id="myButton">Kassalle</button>
