@model VerkkokauppaWeb.Models.Tilaukset

@{
    ViewBag.Title = "Create";
}


<h2>Uusi tilaus</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AsiakasID, "AsiakasID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AsiakasID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AsiakasID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TilausPvm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TilausPvm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TilausPvm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LähetysPvm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LähetysPvm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LähetysPvm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToimitusOsoite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ToimitusOsoite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ToimitusOsoite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToimitusPostinumero, "ToimitusPostinumero", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ToimitusPostinumero", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ToimitusPostinumero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-3">
            <input type="submit" value="Luo uusi" class="btnn saveBtn" />
            <button class="btnn backBtn">@Html.ActionLink("Takaisin", "Index")</button>
        </div>
    </div>
</div>
}


