@model IEnumerable<VerkkokauppaWeb.Models.Tilaukset>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #accordion .content {
        display: none;
    }

    #accordion .active .content {
        display: block;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pagination a {
        color: white;
        padding: 4px 15px;
        text-decoration: none;
        background-color: #7ea8b7;
        border-radius: 5px;
        margin: 0 4px;
        order: 1;
    }

    .pagination a.active {
        background-color: white;
        color: black;
    }

    .pagination a:hover:not(.active) {
        background-color: #5a8b9d;
    }

    .pagination a:nth-child(2) {
    order: 2;
    }

    .pagination a:nth-child(3) {
    order: 3;
    }

    .pagination a:last-child {
    order: 4;
    }
</style>

<script>
    $(document).ready(function () {
        $('.header').click(function () {
            $(this).toggleClass('active');
            $(this).next('.content').slideToggle(500);
        });
    });
</script>

<header>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Tilaukset</h1>
        <p>
            @Html.ActionLink("Uusi tilaus", "Create", new { }, new { @class = "btnn saveBtn" })
        </p>
    </div>
</header>

<div id="accordion">
    @foreach (var item in Model)
    {
        <div class="section">
            <div class="header">
                <table class="table table-responsive ordersTable">
                    <thead>
                        <tr class="ordersTableLabel">
                            <th>
                                Tilaus ID: @Html.DisplayFor(modelItem => item.TilausID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LähetysPvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TilausPvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ToimitusOsoite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ToimitusPostinumero)
                            </th>
                            <th class="ordersTableEmpty"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ordersTableContent">
                            <td class="ordersTableEmpty"></td>
                            <td>@Html.DisplayFor(modelItem => item.LähetysPvm)</td>
                            <td>@Html.DisplayFor(modelItem => item.TilausPvm)</td>
                            <td>@Html.DisplayFor(modelItem => item.ToimitusOsoite)</td>
                            <td>@Html.DisplayFor(modelItem => item.ToimitusPostinumero)</td>
                            <td class="ordersTableButtons">
                                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TilausID }, new { @class = "btnn saveBtn" })
                                @Html.ActionLink("Poista", "Delete", new { id = item.TilausID }, new { @class = "btnn deleteBtn" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                @{Html.RenderPartial("_OrderLines", item.Tilausrivit);}
            </div>
        </div>
    }
</div>

@if (ViewBag.TotalPages > 1)
{
    <div class="pagination">
        Page @(ViewBag.Page) of @ViewBag.TotalPages
        @if (ViewBag.Page > 1)
        {
            @Html.ActionLink("<<", "Index", new { page = 1 })
            @Html.ActionLink("<", "Index", new { page = ViewBag.Page - 1 })
        }
        @if (ViewBag.Page < ViewBag.TotalPages)
        {
            @Html.ActionLink(">", "Index", new { page = ViewBag.Page + 1 })
            @Html.ActionLink(">>", "Index", new { page = ViewBag.TotalPages })
        }
    </div>
}
