@model IEnumerable<VerkkokauppaWeb.ViewModels.AsiakkaatAndLoginsViewModel>
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>


<button class=" btnn saveBtn">
    @Html.ActionLink("Uusi asiakas", "Create")
</button>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salasana)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salasana)
            </td>
            <td>
                <button class="btnn backBtn"> @Html.ActionLink("Muokkaa", "EditProfile", new { id = item.AsiakasID })</button> |

                <button class="btnn deleteBtn"> @Html.ActionLink("Poista", "Delete", new { id = item.AsiakasID })</button>
            </td>
        </tr>
    }

</table>